<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Vue todo list</title>
</head>
<body>

    <div id="app">

        <div class="input-wrapper">
            <!-- collego l'input al js con newTodo -->
            <!-- con @keyup.enter="addTodo" dico che quando l'utente schiaccia enter sulla tasstiera allora si aziona la funzione addTodo  -->
            <input type="text" v-model="newTodo" @keyup.enter="addTodo">
            <!-- anche quando click sul bottone add faccio partire la funzione affTodo -->
            <input type="button" value="add" @click="addTodo">
        </div>

        <div class="list-wrapper">
            <ul class="todo-list">
                <!-- ciclo dentro all'array todoList e ne stampo il contenuto con {{element}}  -->
                <li class="todo" v-for="(element, i) in todoList" :class="alreadyDone(element.done)">
                    {{element.text}}
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-xmark" @click="removeTodo(i)"></i>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    
    <script src="script.js"></script>
</body>
</html>